@font-face {
    font-family: 'DIN';
    src: url("../assets/fonts/DINNextSlabPro/DINNextSlabPro-Black.woff") format('woff');
}

#questions {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(243,214,180)
}

.questions-block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 30%;
    height: 50%;
    
    
}

.question-text {
    justify-self: flex-start;
    font-family: "DIN";
    font-size: 3em;
}
