<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        nav {
            display: flex;
            height: 5vh;
            width: 100vw;
            justify-content: space-around;
            font-size: 1rem;
        } 
        a {
            text-decoration: none;
            color: black;
        }
    </style>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <nav>
        <a href="/car_status"><div class="navitem">Car Status</div></a>
        <a href="/random_person"><div class="navitem">Random Person</div></a>
        <a href="/fizz_buzz"><div class="navitem">Fizz Buzz</div></a>
        <a href="/directory_lister"><div class="navitem">Directory Lister</div></a>
        <a href="/personality_survey"><div class="navitem">Personality Survey</div></a>
        <a href="/"><div class="navitem">Calculator</div></a>
        <a href="/bill_splitte"><div class="navitem">Bill Splitter</div></a>
    </nav>
    
