<%- include('./partials/header.ejs') %>
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">$</span>
      <span class="input-group-text">0.00</span>
    </div>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
</div>
<h1>Bill Splitter</h1>
<%- include('./partials/footer.ejs') %>