<%- include("./partials/header.ejs") %>
    <form action="\fizz_buzz">
        <label for='number1'>Number 1</label>
        <input type="text" name="number1" value="3">
        <br>
        <label for="number2">Number 2</label>
        <input type="text" name="number2" value="5">
        <input type='submit'  value="Submit">
    </form>
    <% for (let num of fizz_buzz) {%>
        <p><%= num %></p>
    <% } %>
<%- include("./partials/footer.ejs") %>