<%- include('../partials/header.ejs') %>
<h1>Task Show:</h1>
<div class="card-body text-align-center">
    <input class="form-check-input" type="checkbox" value="" <% if (task.completed) { %> checked <%} %> disabled>
    <label class="form-check-label" for="flexCheckCheckedDisabled">
        <%= task.body %>
    </label>
</div>
<%- include('../partials/footer.ejs') %>