<h1>New Post</h1>
<div class="col-md-6">
    <form action='/posts' method="POST">
        <div><input type="text" name="title" placeholder="Title"></div>
        <div><textarea name="body" placeholder="Content"></textarea></div>
        <input type=text name="imageUrl" placeholder="Put Image Url">
        <input type="submit">
    </form>
</div>